page-firstpage {
  .header .col {
    background-color: #fff;
  }

  .col {
    border: solid 1px rgb(39, 67, 151);

    border-right-style: none;
  }

  .padding-LR {
    margin-left: 4px;
    margin-right: 34px;
  }

  ion-icon {
    display: inline-block;
    font-size: 250%;
  }
  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }

  .logo {
    width: 100%;
    text-align: center;
  }
  .button-log {
    margin-top: 15px;
  }
  [text-color="my-custom-color"] {
    color: white;
  }

  ion-input {
    display: block;
    border-style: solid;
    border-color: rgb(244, 145, 170);
    border-width: 1px;
    background-color: rgb(131, 208, 226);
    margin-bottom: 18px;
    margin-left: 6px;
    border-radius: 6%;
    input {
      color: #fff;
      text-align: right;
      border-top: 2px;
      /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
      ::-webkit-input-placeholder {
        color: #fff;
        text-align: right;
      }
    }
  }

  .toolbar-background {
    background-color: rgb(39, 67, 151);

    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: none;
  }
  ion-footer {
    box-shadow: 0 0 4px #fff;

    background-color: rgb(39, 67, 151);
    border: none;
  }
  .action-sheet-group {
    overflow: auto !important;
}
}
